<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header %>

    <div class="container">
        <% if (message.length > 0) { %>
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> <%= message %>.
            </div>
            <% } %>
            <form class="form-signin" action="/signup" method="post">
                <h2 class="form-signin-heading">Please signup</h2>
				<label for="inputName" class="sr-only">Name address</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <br>
                <p>Don't have an account? <a href="/signup">Signup</a> ,it's free.</p>
            </form>
        </div>

        <% include ../partials/footer %>
        <% include ../partials/javascript %>
</body>
</html>